<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->

            <div class="col-6">
                <div class="my-5">
                    <h3>Amigurumi Catalog:</h3>
                    <hr>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="my-3">
                        <h3>Search by category:</h3>
                        <hr>
                        <div class="containe">
                            <div class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                    [(ngModel)]="searchKeyword">
                                <button class="btn btn-outline-primary" type="submit"
                                    (click)="searchProducts(searchKeyword)">Search</button>

                            </div>
                        </div>
                    </div>

                    <!--IS have a Search products-->

                    <div class="list-group" *ngIf="searcProducts.length > 0 ">

                        <a [routerLink]="['/products', product.id]" class="list-group-item list-group-item-action"
                            *ngFor="let product of searcProducts">
                            {{product.title }}</a>
                    </div>

                    <!--No Search products-->
                    <div class="alert alert-danger" role="alert" *ngIf="searcProducts.length <=0">
                        <p>No lecked products from this category {{searchKeyword}}!</p>
                    </div>

                </div>

            </div>
            <hr>

            <div class="center-wrapper" *ngIf="isLoalding">
                <div class="lds-dual-ring">

                    <app-loader></app-loader>
                </div>
            </div>

            <div *ngIf="!isLoalding && (!products || products.length === 0)" class="no-products">
                <h3>No products added to the catalog!</h3>
            </div>


            <!-- Form START -->
            <ul *ngIf="!isLoalding && products && products.length > 0">
                <!-- <app-card-product *ngFor="let p of products"  [product]="p|| ''"
        [productDesc]="p.description || ''"
     
        >
    </app-card-product> -->
                <!-- *ngFor="let p of products"  [product]="p|| ''"
    [productDesc]="p.description || ''" -->

                <li *ngFor="let product of products ">

                    <!-- [routerLink]="['product','detail',product.id]"> -->
                    <div class="card" style="width: 18rem;">
                        <div class="image-container">
                            <img src="{{product.imageUrl}}" class="card-img-top" alt="product image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>Title: </b> {{product.title }}</h5>
                            <hr>
                            <p class="card-text">
                                <i class="fa-brands fa-galactic-republic"></i> <b>Category: </b>{{product.category}}

                            </p>
                            <hr>
                            <!-- <p class="card-text">
                                <i class="fa-solid fa-star"></i> Skill Level: {{product?.skillLevel}}
                            </p> -->


                            <p><b>Description: </b> {{product.description |slice : 25}}</p>
                            <hr>
                            <button> <a [routerLink]="product.id" class="btn btn-primary"> Details Page</a></button>
                            <!-- [style]="{backgroundColor:'#6658d3'}" -->
                        </div>
                    </div>


                    <!-- <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
                integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Amigurumi Catalog:</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Build responsive, mobile-first projects on
                                the web with the world's most popular front-end component library.</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li *ngFor="let product of products " class="col-lg-4 col-md-6 mt-4 pt-2">

                        <div class="blog-post rounded border">
                            <div class="blog-img d-block overflow-hidden position-relative">
                                <img src="{{product.imageUrl}}" class="card-img" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="javascript:void(0)" class="text-light d-block text-right like"><i
                                            class="mdi mdi-heart"></i> 33</a>
                                    <a a [routerLink]="product.id" class="text-light read-more">Read More <i
                                            class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <small class="text-muted p float-right">19th Oct, 19</small>
                                <small><a href="javascript:void(0)" class="text-primary">Marketing</a></small>
                                <h4 class="mt-2"><a href="javascript:void(0)"
                                        class="text-dark title">{{product.title}}</a></h4>
                                <p class="text-muted mt-2">There is now an abundance of readable dummy texts.
                                    These are usually used when a text is required purely to fill a space.</p>
                                <button> <a [routerLink]="product.id" class="btn btn-primary"> Details Page</a></button>
                                <div class="pt-3 mt-3 border-top d-flex">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                        class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                                    <div class="author mt-2">
                                        <h6 class="mb-0"><a href="javascript:void(0)"
                                                class="text-dark name">{{product.author}}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                    </li>

                </ul>
            </div> -->

            </ul>
        </div>
    </div>
</div>
<!-- <div id="title">
    <h3>{{product.title}}</h3>
</div> -->

<!-- <div class="desc" *ngIf="productDescLen> 0">{{descToShow}}</div> -->
<!-- <img *ngIf="imageIsShown" src="{{product.imageUrl}}" alt="product image" />
<button>  <a [routerLink]="product.id">  Details Page</a></button> -->

<!-- [routerLink]="["product","detail",product.id] -->
<!-- [product]="p|| ''" [productDesc]="p.description || ''"  -->