.containerLogin,
.example-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.containerLogin {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 4rem auto;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* background: url("https://i.pinimg.com/564x/c2/e2/f8/c2e2f8c0cdf209cbb7144c8f0b75d5ef.jpg") no-repeat center center;
  filter: brightness(90%);
  background-size: cover; */
}

.example-container {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f6f7f8;
  width: 60%;

  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.custom-button {
  background-color: #616192;
  color: white;
  border-radius: 10px;
}

.fit-img {
  background: url("https://i.pinimg.com/564x/99/5c/2f/995c2fe20d5475b62ce0cadd7260ba99.jpg") ;
  /* transform: rotate(270deg); */
  /* filter: brightness(70%); */
  /* background-size: cover;
  width: 100%; */
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /* background-size: 120% auto; */
  background-position: center ;
  background-repeat: no-repeat;
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
  background-size: cover;
  width: 70%;
}

.fit-img:after {
  display: block;
  content: "";
  padding-top: 100%;
}


.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

h2 {
  color: #616192;
  ;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}