body {
    margin-top: 20px;
    color: #9b9ca1;
}

.bg-secondary-soft {
    /* background-color: rgba(60, 63, 190, 0.8) !important; */
    background-color: rgba(240, 240, 240, 0.8) !important;


}

/* .containerEdit {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
} */

.rounded {
    border-radius: 5px !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.file-upload .square {
    height: 250px;
    width: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #fff;
    border-radius: 5px;
    
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(237, 240, 244, 0.2) !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #6f6f74;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.skillsRadio,
.categoryRadio {
    padding-top: 10px;
    display: flex;
    justify-content: space-around
}

.error {
    text-align: left;
    background-color: #f8d7da;
    padding: 8px;
    margin: 8px;
    border-radius: 3px;
    font-style: italic;
}  .custom-btn {
    background-color: transparent;
    border-color: transparent;
    color: black;
    text-decoration: none; /* Премахва подчертаването на връзката */
    padding: 0; /* Премахва вътрешният padding на бутона, за да няма излишни отстъпи около текста */
  }
  
  /* Стилове при ховер */
  .custom-btn:hover {
    color: white;
  }