<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

</div> -->

<app-menu-bar></app-menu-bar>


<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<app-footer-bar></app-footer-bar>


<div>
  <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
   -->
  <!-- <span class="material-symbols-outlined">
    logout
  </span>

  <span class="material-symbols-outlined">
    login
  </span> -->

</div>

<!-- 
<div>
  <span class="material-icons orange600">face</span>
  <span class="material-icons">&#xE87C;</span>

</div>
<span class="material-symbols-outlined">
  settings
</span>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div><span class="material-symbols-outlined">
    delete
  </span></div>

<span class="material-symbols-outlined">
  star_rate
</span>

<div>

  <span class="material-symbols-outlined">
    person
  </span>

  <span class="material-symbols-outlined">
    group
  </span>
  <span class="material-symbols-outlined">
    person_add
  </span>
  <span class="material-symbols-outlined">
    groups
  </span>
</div>

<div>
  <span class="material-symbols-outlined">
    favorite
  </span>

  <span class="material-symbols-outlined">
    share
  </span>

  <span class="material-symbols-outlined">
    read_more
  </span>
</div> -->