/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,700%27'); */

/* @media (max-width: 1620px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mini-navbar ul {
        display: none;
    }

    .welcome {
        display: none;
    }

    .logo-text {
        font-size: 24px;
        color: white;
    }
} */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mini-navbar ul {
        display: none;
    }

    .welcome {
        display: none;
    }

    .logo-text {
        font-size: 24px;
        color: white;
    }
}

@media (min-width: 769px) {
    .mini-navbar ul {
        display: flex;
    }

    .welcome {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mini-navbar ul {
        display: none;
    }

    .welcome {
        display: none;
    }

  
    .welcome .btn-group a,
    .nav-item {
        font-size: 14px;
    }

    .logo-text {
        display: none; 
    }

    header ul {
        justify-content:flex-start;
        margin: 0;
    }

    header ul {
       
        margin: 0;
    }
    
}

header {
 
    position:relative;
    top: 0;
    left: 0;

 
    background: rgb(87, 88, 187);
    background: linear-gradient(0deg, rgba(87, 88, 187, 1) 38%,
            rgba(217, 128, 250, 1) 95%);
    display: flex;
    justify-content: space-between;
    align-items: center; 

    /* z-index: 1000;  */
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 75%; */
    margin: auto;
}

.welcome,
.logoWelcome {
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* width: 75%; */
}

.logo-text {
    color: white;
}

.mini-navbar ul {
    border: 1px solid #00d4ff;
    border-radius: 0.3em;
    padding-left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

header li {
    list-style: none;
    /* margin: .35em; */
    padding: 0em
}

header .mini-navbar ul li:hover {

    background-color: #5758BB;
    color: white;
}

header .mini-navbar ul li:first-child:hover {
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
    background-color: #5758BB;
    color: white;
}

header .mini-navbar ul li:last-child:hover {
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: #5758BB;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

nav {
    border-top: 1px solid #00acf4;
}

.navigation-wrap ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.navigation-wrap ul li a {
    font-weight: 600;
}

.navigation-wrap ul li a:hover {

    background-color: white;
    color: #5758BB;
    padding: .55em 1em;
    transform: scale(1.01);
}
.logo {
 
    color: white;
    padding-bottom: 0;
}

.logo-wrap {
 
    margin: 0.5em 0;
}


.mini-navbar ul {
    background-color: #a29bfe;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}

.img-wrap {
    width: 20%;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.sasa {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-wrap img {

    display: block;
    width: 50%;
    height: auto;
    margin: 0.5em;
}

.logo {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin: 0.5em 0;
}

.img-wrap h1 {
    color: white;
    padding: 0.5em;
}

.nav-link {
    color: white;
}



/* .bagOwnStyle {

    background: rgb(87, 88, 187);
    background: linear-gradient(0deg, rgba(87, 88, 187, 1) 38%,
            rgba(217, 128, 250, 1) 95%);
    
}
a {
    color: white;
} */