<div class="container">
  <div class="row">
    
      <!-- Page title -->
      <div class="welcome-info" >
        <h1>Welcome to Amigurumi</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur expedita odit totam qui quod omnis
          facilis a quas quibusdam laboriosam accusantium id aliquid nostrum, consectetur unde dolor! Temporibus, maxime
          placeat!</p>
         
      </div>
      <nav class=" welcome-info navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </nav>


    
  </div>
</div>