
<div class="page-container" >

    <p>home works!</p>
    <i class="fas fa-check"></i>
    <i class="material-icons">check</i>
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-solid fa-user-check fa-fade"></i>
    <i class="fa-solid fa-user-large fa-beat-fade"></i>

    <div class="col-lg-3 col-md-5 col-5 mx-lg-auto">
        <img src="images/sharing-design-ideas-with-family.jpg" class="about-image about-image-small img-fluid" alt="">
    </div>

    <div class="col-lg-4 col-md-7 col-7">
        <img src="images/living-room-interior-wall-mockup-warm-tones-with-leather-sofa-which-is-kitchen-3d-rendering.jpg" class="about-image img-fluid" alt="">
    </div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </nav>
</div>