@media (max-width: 1482px) {
    .welcome-info h1 {
        font-size: 29px;
    }



    .container {
        margin-bottom: 100px;
    }
}

@media (max-width: 551px) {
    .welcome-info h1 {
        font-size: 22px;
    }

    .container {
        margin-bottom: 600px;

    }


}

@media (max-width: 480px) {

    .container {
        margin: 0;
        flex: 1 1;
    }
}

.container {
    flex: 1 1 ;
    height: auto;
    width: 100%;
    /* opacity: 1;
    color: rgba(237, 240, 244, 0.2) !important; */
}

.main-body {
    padding: 150px;
}

.row-info {
    margin-top: 70px;
    width: 60%;
    background-color: rgba(246, 246, 246, 0.8) !important;
    margin-left: auto;
}



.welcome-info {
    display: flex;
    flex-direction: column;
    text-align: start;
}

h1 {
    text-align: center;

}
p{
    padding:0.5em 2em;
}