<div class="container">
  <div class="row">

    <!-- Page title -->
    <div class="welcome-info">
      <h1>Welcome to Amigurumi</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis excepturi, porro veritatis odit explicabo vel
        voluptas repellendus exercitationem nesciunt odio dolor molestiae soluta illum perspiciatis dolorem aut dolore,
        recusandae animi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est, asperiores quos harum
        voluptas consequatur possimus dolorum sit. Animi aut accusantium fugit deserunt autem reprehenderit accusamus
        ullam earum culpa voluptatem.</p>
    </div>

  </div>
</div>