<div class="container">

	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Log in
				
			</h2>
		
		</div>
		<form class="card-form" #loginForm="ngForm" class="card-form" (ngSubmit)="submitHandler(loginForm)">

			<div class="input">
				<input type="text" id="email" name="email" class="input-field" ngModel email required
					[appEmail]="appEmailDomains" #emailInput="ngModel" />
				<label for="email" class="input-label"><i class="fa-regular fa-envelope"></i> Email</label>
			</div>

			<!--email error msg-emailInput-->
			<ng-container *ngIf="emailInput.touched">
				<div class="error" *ngIf="emailInput.errors?.['required'] ">Email is required!
				</div>

				<div class="error" *ngIf="emailInput.errors?.['email']">Invalid Email!
					{{emailInput.errors?.['email'].requiredLength}}
				</div>
				<div class="error" *ngIf="emailInput.errors?.['appEmailValidator']">appEmailValidator-Invalid Email!
					{{emailInput.errors?.['appEmailValidator'].requiredLength}}
				</div>
			</ng-container>
			<!-- {{loginForm?.errors  | json}} -->
			<div class="input">
				<input type="password" id="password" name="password" class="input-field" ngModel required
					#passwordInput="ngModel" [appMaxCount]="15" minlength="4" />
				<label for="password" class="input-label"><i class="fa-solid fa-lock"></i> Password</label>
			</div>


			<!--password error msg-passwordInput-->
			<ng-container *ngIf="passwordInput.touched">
				<div class="error" *ngIf="passwordInput.errors?.['appMaxCount']">
					Invalid Password, because length is
					longer than {{passwordInput.errors?.['appMaxCount']}} symbols.
				</div>
				<div class="error" *ngIf="passwordInput.errors?.['minlength']">
					Invalid Password, because length is short
					than {{passwordInput.errors?.['minlength'].requiredLength}} symbols.
				</div>
				<div class="error" *ngIf="passwordInput.errors?.['required'] && passwordInput.touched">
					Password is required!
				</div>
			</ng-container>

			<div class="action">
				<button class="action-button" [disabled]="loginForm.invalid"
					[style]="{backgroundColor:loginForm.invalid ? '#f8d7da':' #6658d3'}"
					(click)="login(emailInput.value,passwordInput.value)">Submit</button>
			</div>

		</form>
		<div class="card-info">
			<p>If you already have a registration, please <a routerLink="/register">Register</a></p>
		</div>
	</div>
</div>
{{loginForm.value |json}}