<header>

  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary bagOwnStyle" style="background-color: #e3f2fd;">
    
      <a class="navbar-brand" href="#">
        <img  routerLink="/" src="https://i.pinimg.com/564x/17/6e/24/176e24e7b955c7d2c60e48dbb529d15c.jpg"  alt="Amigurumi" width="80" height="64">
      </a>
    
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Handmade Amigurumi</a>
      <div class="welcome">
        <div class="btn-group" role="group" aria-label="Basic outlined example" *ngIf="!isLoggedIn">

            <a routerLink="/auth/login" class="btn btn-outline-primary"><i
                    class="fa-solid fa-right-to-bracket fa-fade"></i>
                Login</a>
            <a routerLink="/auth/register" class="btn btn-outline-primary">Register</a>

        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example" *ngIf="isLoggedIn">

            <a routerLink="/auth/profile" class="btn btn-outline-primary">Welcome {{fullName}}!</a>
            <a routerLink="/auth/register" class="btn btn-outline-primary" (click)="logout()"> Logout <i
                    class="fa-solid fa-arrow-right-from-bracket"></i></a>

        </div>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav> -->
  <div class="logoWelcome">

    <div class="img-wrap">
      <img routerLink="/" 
      src="https://i.pinimg.com/564x/17/6e/24/176e24e7b955c7d2c60e48dbb529d15c.jpg" 
      alt="Logo"
        class="logo">
    </div>

    <div>
      <h4 class="logo-text">Handmade Amigurumi</h4>
    </div>
    <div class="welcome">
      <div class="btn-group" role="group" aria-label="Basic outlined example" *ngIf="!isLoggedIn">

        <a routerLink="/auth/login" class="btn btn-outline-primary"><i class="fa-solid fa-right-to-bracket fa-fade"></i>Login</a>
        <a routerLink="/auth/register" class="btn btn-outline-primary">Register</a>

      </div>
      <div class="btn-group" role="group" aria-label="Basic outlined example" *ngIf="isLoggedIn">

        <a routerLink="/auth/profile" class="btn btn-outline-primary">Welcome {{fullName}}!</a>
        <a routerLink="/auth/register" class="btn btn-outline-primary" (click)="logout()"> Logout <i
            class="fa-solid fa-arrow-right-from-bracket"></i></a>

      </div>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <button routerLink="/" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation" *ngIf="isLoggedIn">
      <button routerLink="/auth/profile" class="nav-link" id="profile-tab" data-bs-toggle="tab"
        data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
        aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button routerLink="/catalog/products" class="nav-link" id="contact-tab" data-bs-toggle="tab"
        data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
        aria-selected="false">Catalog</button>
    </li>
    <li class="nav-item" role="presentation" *ngIf="isLoggedIn">
      <button routerLink="/catalog/addNewProduct" class="nav-link" id="contact-tab" data-bs-toggle="tab"
        data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
        aria-selected="false">Add new </button>
    </li>
  </ul>

</header>