<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->

            <div class="col-6">
                <div class="my-5">
                    <h3>Amigurumi Catalog:</h3>
                    <hr>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="my-3">
                       
                        <div class="containe d-flex justify-content-evenly">
                            <h3>Search by category:  </h3>
                           
                        </div>
                        <hr>
                        <div class="d-flex" role="search">
                            <input class="form-control me-2 " type="search" placeholder="animals" aria-label="Search"
                                [(ngModel)]="searchKeyword">
                            <button class="btn btn-outline-primary" type="submit"
                                (click)="searchProducts(searchKeyword)">Search</button>
                        </div>
                    </div>

                    <!--No Search products-->
                    <div class="alert alert-danger" role="alert" *ngIf="isSearched && searcProducts.length <= 0">
                        <p>No lecked products from this <b>Category: {{searchKeyword}}</b>!</p>
                    </div>

                    <!--IS have a Search products-->
                    <div *ngIf="isSearched && searcProducts.length > 0 && searchKeyword.length > 0">

                        <div class="alert alert-primary" role="alert">
                            <p>The searhed products from <b>Category: </b> <b>{{searchKeyword}}</b> is here!</p>
                        </div>

                        <div class="list-group">
                            <a [routerLink]="['/catalog/products', product.id]"
                                class="list-group-item list-group-item-action" *ngFor="let product of searcProducts">
                                {{product.title}}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <hr>

            <div class="center-wrapper" *ngIf="isLoalding">
                <div class="lds-dual-ring">

                    <app-loader></app-loader>
                </div>
            </div>

            <!-- No products added to the catalog -->
            <div *ngIf="!isLoalding && (!products || products.length === 0)" class="no-products">
                <h3>No products added to the catalog!</h3>
            </div>


            <!-- Form START -->
            <ul *ngIf="!isLoalding && products && products.length > 0">
     
                <li *ngFor="let product of products ">

                    <!-- [routerLink]="['product','detail',product.id]"> -->
                    <div class="card" style="width: 18rem;">
                        <div class="image-container">
                            <img src="{{product.imageUrl}}" class="card-img-top" alt="product image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>Title: </b> {{product.title }}</h5>
                            <hr>
                            <p class="card-text">
                                <i class="fa-brands fa-galactic-republic"></i> 
                                <b>Category: </b>
                                {{product.category}}
                            </p>
                            <hr>
                            <!-- <p class="card-text">
                                <i class="fa-solid fa-star"></i> Skill Level: {{product?.skillLevel}}
                            </p> -->

                            <p><b>Description: </b> {{product.description |slice : 25}}</p>
                            <hr>
                            <button> <a [routerLink]="product.id" class="btn btn-primary" > Details Page</a></button>
                            <!-- [style]="{backgroundColor:'#6658d3'}" -->
                        </div>
                    </div>
            </ul>
        </div>
    </div>
</div>
