<div class="container">

	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Get started
				<small>Let us create your account</small>
			</h2>
		</div>
		<form #registerForm="ngForm" class="card-form" (ngSubmit)="submitHandler(registerForm)">
			<div class="input">
				<input type="text" id="fullName" name="fullName" class="input-field" required ngModel
					#fullNameInput="ngModel" minlength="4" />

				<label for="fullName" class="input-label"> <i class="fa-solid fa-user-large"></i> Full name</label>
			</div>
			<!--fullName error msg-->
			<ng-container *ngIf="fullNameInput.touched">
				<div class="error" *ngIf="fullNameInput.errors?.['required'] ">

					Full name is required!
				</div>
				<div class="error" *ngIf="fullNameInput.errors?.['minlength']">

					Invalid Full name, because length is short
					than
					{{fullNameInput.errors?.['minlength'].requiredLength}} ...
				</div>
			</ng-container>
			<div class="input">
				<input type="text" id="email" name="email" class="input-field" ngModel email required
					#emailInput="ngModel" />
				<label for="email" class="input-label"><i class="fa-regular fa-envelope"></i> Email</label>
			</div>

			<!--email error msg-->
			<ng-container *ngIf="emailInput.touched">
				<div class="error" *ngIf="emailInput.errors?.['required']">

					Email is required!
				</div>

				<div class="error" *ngIf="emailInput.errors?.['email']">Invalid Email!
					{{emailInput.errors?.['email'].requiredLength}} ...
				</div>
			</ng-container>

			<div class="input">
				<input type="password" id="password" name="password" class="input-field" ngModel required
					#passwordInput="ngModel" [appMaxCount]="20" minlength="4" />
				<label for="password" class="input-label"><i class="fa-solid fa-lock"></i> Password</label>
			</div>

			<!--password error msg-->
			<ng-container *ngIf="passwordInput.touched">
				<!-- <div *ngIf="passwordInput.touched">
				<div *ngIf="passwordInput.errors?.['required']">Password is required!</div>
				<div *ngIf="passwordInput.errors?.['email']">Invalid Password!</div>
			</div> -->
				<div class="error" *ngIf="passwordInput.errors?.['appMaxCount']">Invalid Password, because length is
					longer
					than
					{{passwordInput.errors?.['appMaxCount']}} ...
				</div>
				<div class="error" *ngIf="passwordInput.errors?.['minlength']">Invalid Password, because length is short
					than
					{{passwordInput.errors?.['minlength'].requiredLength}} ...
				</div>
				<div class="error" *ngIf="passwordInput.errors?.['required']">Password is required!
				</div>
			</ng-container>
			
			<div class="genderRadio">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gender" id="male" value="male"
						[(ngModel)]="user.gender">
					<label class="form-check-label" for="male">
						Male
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="gender" id="female" value="female"
						[(ngModel)]="user.gender">
					<label class="form-check-label" for="female">
						Female
					</label>
				</div>
			</div>

			<div class="action">
				<button class="action-button" [disabled]="registerForm.invalid"
					[style]="{backgroundColor:registerForm.invalid ? '#f8d7da':' #6658d3'}">Submit</button>
			</div>
		</form>
		<div class="card-info">
			<p>If you already have a registration, please <a routerLink="/login">Log in</a></p>
		</div>
	</div>
</div>
{{registerForm.value |json}}