<footer >
    <ul>
        <li>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FAmigurumiToday">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/groups/303112103997759/">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.pinterest.com/pin/202310208249123047/">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
    </ul>
    <ul>

        <li><a routerLink="">Home</a></li>
        <li><a routerLink="products">Catalog</a></li>
        <li><a routerLink="">Contact us</a></li>

    </ul>
    <ul>

        <li><a href="https://github.com/ZdravkaGoranova">All rights reserved.</a></li>
        <li><a href="https://github.com/ZdravkaGoranova">By design Zdravka Goranova</a></li>
        <li><a routerLink="">&copy; Copyright, 2023</a></li>

    </ul>


</footer>