@import "~bootstrap/dist/css/bootstrap.css";


*Removes all default whitespace
*

* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* typography */
html {
    font: 18px/1.5 Verdana, sans-serif;
   
}

body, form, input, textarea, option, select, button {
    font: inherit;
}
/* body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
} */


body{
    margin: auto;
    position: relative;
    min-height: 100vh;
    /* max-width: 1366px; */
    background-image: url('https://i.pinimg.com/564x/eb/bb/ee/ebbbee524816ce65a8520aa4bec81063.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30% 100%;
    /* background-image: linear-gradient(
    to bottom,
    rgba(231, 229, 231, 0.5),
    rgba(0, 0, 255, 0.5)
    
  ), url("https://i.pinimg.com/564x/0d/a6/24/0da624fd36b123a8d39e2466635883d1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
}
ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2.5em;
}

blockquote, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    padding-top: 0.5em;
}

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid #000000;
    font-family: Georgia, serif;
    margin-bottom: 1.5em;
}

blockquote, p {
    font-style: italic;
}

blockquote p+p {
    padding-top: 1.5em;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}
/* Global Styles */

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}
/* 
button {
    background-color: #4ebced;
    color: white;
} */

button:hover {
    cursor: pointer;
}
/* MediaQuery */
html {
    font: 18px/1.5 'Times New Roman', Times, serif;
    /* font-family: 'Times New Roman', Times, serif; */
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2.5em;
}

blockquote, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    padding-top: 0.5em;
}

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid #000000;
    font-family: Georgia, serif;
    margin-bottom: 1.5em;
}

blockquote, p {
    font-style: italic;
}

blockquote p+p {
    padding-top: 1.5em;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}